body {
	background-color: #6096b4;
}

form {
	background-color: #bdcdd6;
}

thead th {
	color: #bdcdd6;
	font-size: 1.1rem;
}

tbody td,
tbody th {
	color: #bdcdd6;
	font-weight: bold;
}

h1 {
	font-size: 1.8rem;
}
